.expense-item-date__date {
  background-color: rgb(236, 247, 252);
  width: 4rem;
  border: 0.12rem solid rgb(43, 131, 226);
  border-radius: 1rem;
  text-align: center;
  margin: 0.25rem;
}

.expense-item-date__month {
  font-size: 0.75rem;
}

.expense-item-date__day {
  background-color: rgb(179, 208, 218);
  color: rgba(0, 0, 0, 0.788);
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.expense-item-date__year {
  font-size: 1rem;
}
